<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--iconos-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <!--mi css-->
  <link rel="stylesheet" href="../estilos/estilos.css">
  <title>contactanos</title>
</head>

<body class="container-fluid">

  <header>

    <div class="contactanos" style="height: 100vh;">

      <div class="navegacion row d-flex justify-content-center">

        <!--logo-->
        <figure class="col-lg-3 col-md-12 text-center">
          <img src="../assets/logo.png" alt="" style="width: 50%;" class="img-fluid">
        </figure>

        <nav class="navegador col-lg-6 col-md-6">
          <ul class="d-flex justify-content-center mt-5" style="list-style: none;">
            <li class="m-2"><a href="../index.html"
                style="text-decoration: none;color: #fff;font-size: 1.2rem;">INICIO</a></li>
            <li class="m-2"><a href="./precio.html"
                style="text-decoration: none;color: #fff;font-size: 1.2rem;">PRECIOS</a></li>
            <li class="m-2"><a href="./quienesSomos.html"
                style="text-decoration: none;color: #fff;font-size: 1.2rem;">QUIENES
                SOMOS</a></li>
            <li class="m-2"><a href="" style="text-decoration: none;color: #fff;font-size: 1.2rem;">CONTACTANOS</a></li>
          </ul>
        </nav>

        <div class="col-lg-3 col-md-6 redes sociales">
          <ul class="d-flex justify-content-center mt-5" style="list-style:none;">
            <li class="p-2"><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            <li class="p-2"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="p-2"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="p-2"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          </ul>
        </div>

      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-lg-3"></div>
        <form class="formulario_somos col-lg-6">
          <div class="formulario_container">
            <h2 class="titulo_formulario">CONTACTAME</h2>
            <input type="text" class="" placeholder="NOMBRE: ">
            <input type="text" class="" placeholder="EMAIL">
            <textarea class="texto" placeholder="MENSAJE: "></textarea>
            <input type="submit" value="ENVIAR" class="envio">
          </div>
        </form>
        <div class="col-lg-3"></div>
      </div>

    </div>


  </header>



























  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>